.search-item {
  margin: 25px;
  & a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-color: #8ab4f8;
    }
  }
}
.search-link {
  color: #8ab4f8;
}
.search-item-description {
  color: #bdc1c6;
}
